<%= form_for [current_user, @daily, @item] do |f| %>
 
  <% if @item.errors.any? %>
    <div id="error_explanation">

      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this item from being saved:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :date  %>:
    <br>
  	<%= f.date_field :date  %>
  </p>

  <p>
    <%= f.label :time  %>:
    <br>
    <%= f.time_field :time  %>
  </p>

  <p>
    <%= f.label :mood %>:
    <br>
    <%= f.number_field :mood %>
  </p>
  
  <p>
    <%= f.label :notes %>:
    <br>
    <%= f.text_field :notes %>
  </p>

  <div>
    <ul id="selectedResults">
    </ul>
  </div>

  <p>
    <%= f.submit %>
  </p> 
 
<% end %>