		<!-- Jumbotron -->
		<div class="container">
			<div class="jumbotron">
				<h3>Add New Item</h3>
				<br>
				<%= render 'form' %>
				<br>
				<br>
				<!-- <p>
					<%= form_for [current_user, @daily, @item] do %>
					<%= time_field_tag :time %>
  					<br>
  					<%= label_tag :time %>
  					<%= number_field_tag :mood %>
  					<br>
  					<%= label_tag :mood %>
  					<%= text_field_tag :notes %>
  					<br>
  					<%= label_tag :notes %>
  					<% end %>
				</p> -->

				<!-- <p>
					<%= form_for [current_user, @daily, @item] do %>
					
  					<% end %>
				</p> -->

				<!-- <p>
					<%= form_for [current_user, @daily, @item] do %>
					
  					<% end %>
				</p> -->

				<!-- <p>
				    <%= form_for new_user_daily_item_path, :method => 'get' do %>
				      <%= label_tag(:q, "Search for food:") %> <br>
				      <%= text_field_tag(:q) %>
				      <%= submit_tag("Search") %>
				    <% end %>
				</p> -->

				<!-- <p>
					<% if @foods.present? %>
					<table>
						<% @foods.each do |f| %>
							<tr>
								<td>
									<%= f["name"] %>
								</td>
								<td>
									<%= form_for [current_user, @daily, @item] do %>
									  <%= hidden_field(nil, :ndbno, value: f["ndbno"]) %>
									  <%= submit_tag("Select This Item") %>
									<% end %>
								</td>
							</tr>
						<% end %>
					</table>
					<% end %>
				</p> -->

				<p><a href="/users/:user_id/dailies">Back to My Dashboard</a></p>
				<br>
				<form method="POST" action="/logout?_method=DELETE">
					<button>Logout</button>
				</form>
			</div> <!-- end .jumbotron -->
		</div> <!-- end .container -->

<!-- items/show.html.erb -->
<% content_for(:title, @item.name) %>
<article id="item">
	<header>
		<h1><%= @item.name %></h1>
		<h2><%= @item.condition %></h2> &bull; <%= number_to_currency(@item.price) %>
	</header>

	<p>
		<%= @item.description %>
	</p>

	<p class="list-date">
		Listed on <%= @item.created_at %> by
		<%= link_to @item.user.name, @item.user %>
	</p>

	<p>
		<%= link_to "Comments", "#", id: "comments-link" %>
	</p>

	<section id="comments-section">
		<ol id="comments">
			<%= render @comments %>
		</ol>
		<%= form_for [@item, @item.comments.new], remote: true do |f| %>
			<fieldset>
				<ol>
					<li>
						<%= f.text_area :body, rows: 2, cols: 60, placeholder: "Write a comment..." %>
					</li>
					<li>
						<%= f.submit 'Post Comment', class: 'button' %>
					</li>
				</ol>
			</fieldset>
		<% end %>
	</section>

<!-- comments/_comment.html.erb (PARTIAL rendered on line 93 above) -->
<li>
	<%= link_to comment.user.name, comment.user %>
	<span class="date"><%= time_ago_in_words(comment.created_at) %> ago</span>
	<p>
		<%= comment.body %>
	</p>
</li>
<!-- stylesheets/comments.scss -->
#comments-section {
	display: none;
}
<!-- javascripts/comments.coffee -->
$(document).on "page:change", ->
  $('#comments-link').click (event) ->
    event.preventDefault()
    <!-- alert "Clicked!" -->
    $('#comments-section').fadeToggle()
    $('#comment_body').focus()

<!-- controllers/comments_controller.rb -->
def create
	@item = Item.find(params[:item_id])
	@comment = @item.comments.new(comment_params)
	@comment.user = current_user
	@comment.save!

	<!-- redirect_to @item -->
	respond_to do |format|
	  format.html { redirect_to @item}
	  format.js  #render comments/create.js.erb
end

private
	def comment_params
		params.require(:comment).permit(:body)
	end
end

<!-- views/comments/create.js.erb -->
$('#comments').append("<%= j render @comment %>");
$('#comment_body').val("");




<form method="POST" class="form">
					<div class="row">
						<div class="col-xs-6">
							Date Eaten
						</div>
						<div class="col-xs-6">
							Time Eaten
						</div>	
					</div>
					<div class="row" id="searchField">
						<div class="col-xs-9">
							<input type="text" class="form-control" id="food" placeholder="food item">
						</div>
						<div class="col-xs-3">
							<button type="button" class="button" id="searchButton" value="Search" onclick="search();">Search for Food</button>
						</div>
					</div>
					
					<div class="textbox" id="selectedSearchResults">
						<textarea id="results" cols="40" rows="10" placeholder="My Selected Results"></textarea>
					</div>
					<div class="row">
						<div class="col-xs-4">
							Mood
						</div>
						<div class="col-xs-8">
							Notes
						</div>
					</div>
					<div class="row">
						<button class="button" type="submit" id="submitFormButton" onclick="submitForm();">Save Everything Here</button>
					</div>
				</form>





