<%= form_for [current_user, @daily] do |f| %>
 
  <% if @daily.errors.any? %>
    <div id="error_explanation">

      <h2>
        <%= pluralize(@daily.errors.count, "error") %> prohibited
        this daily from being saved:
      </h2>
      <ul>
        <% @daily.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :date %>
    <br>
    <%= f.date_field :date %>
  </p>
  <br>
  <p>
    <%= f.label :mood, "Mood: 1 - 5, 5 being best" %>
    <br>
    <%= f.number_field :mood, min: 1, max: 5, html: { class: "text"} %>
  </p>
  <br>
  <p>
    <%= f.label :notes %>
    <br>
    <%= f.text_field :notes %>
  </p>
  <br>
  <p>
    <%= f.submit class: 'btn btn-primary' %>
  </p>
 
<% end %>