<!-- Navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="nav-container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>	
			<a class="navbar-brand" href="/" id="brand">Nutrition Journal</a>	
		</div> <!-- end .navbar-header -->
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
      	<li><%=link_to"Home", root_path %></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				<% if (current_user) %>
          <!-- <li class = "Profile"> <%= link_to 'My Profile', user_profiles_path(current_user) %> </li> -->
          <li><%= link_to 'My Dashboard', user_dailies_path(current_user) %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path %></li>
      	<% else %>
      		<li><%= link_to 'Log In', new_user_session_path %></li>
        	<li><%= link_to 'Sign up', new_user_registration_path %></li>
      	<% end %>
			</ul>
		</div> <!-- end .navbar-collapse -->
	</div> <!-- end .nav-container -->
</div> <!-- end .navbar -->

<!-- CONTENT -->
<body class="dailies">
	<div class="container-fluid">
		<div class="dailiesindex-content">
			<!-- <h3>My Dashboard</h3> -->
			<br>
			<div class="row">
	      <div class="col-xs-12">
	        <h4>Graph of Recorded Mood:</h4>
	        <!-- Chart.js lineChart -->
	        <%= content_tag 'canvas', '', id: "canvasLine", width: "660", height: '300', data: {mood: (Daily.all.map &:mood), date: (Daily.all.map &:date)} %>
	      </div>
	  	</div> <!-- end .row -->
	  	<br>
	  	<!-- Jumbotron -->
			<div class="jumbotron-calendar">
				<h4>All Entries By Date:</h4>
				<br>
				<div class="row">
				  <div class="col-md-12 text-center">
				    <div class="well controls">
				      <%= link_to user_dailies_path(date: @date - 1.month), class: "btn btn-default" do %>
				        <i class="glyphicon glyphicon-backward"></i>
				      <% end %>
				      <%= "#{@date.strftime("%B")} #{@date.year}" %>
				      <%= link_to user_dailies_path(date: @date + 1.month), class: "btn btn-default" do %>
				        <i class="glyphicon glyphicon-forward"></i>
				      <% end %>
				    </div>
				  </div>
				</div>
				<div class="row text-center">
				  <div class="col-md-12 text-center">
				    <%= calendar @date do |date| %>
				      <%= link_to date.day, new_user_daily_path(current_user) %>  
				     	<br>
						  <% @dailies_by_date.each do |daily| %>
							  <% if daily.date == date %>
							    Mood: <%= link_to daily.mood, user_daily_path(current_user, daily) %>
							    <!-- When API and totals working, change daily.mood to daily.day_total -->
							  <% end %>
							<% end %>  
				    <% end %>
				  </div>
				</div>

				<br>
					<a href="/users/:user_id/dailies/new">Start A New Daily</a>
				<br><br>
				<!-- <form method="GET" action="/users/sign_out?_method=DELETE">
	      	<button>Logout</button>
	    	</form> -->
		  </div> <!-- end .jumbotron-calendar -->
		</div> <!-- end .dailiesindex-content -->
	</div> <!-- end .container-fluid -->
</body>

<!-- Footer -->
<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="nav-container">
		<div class="navbar-text pull-left">
			<p>© 2015 Nutrition Journal</p>
		</div> <!-- end .navbar-text pull-left -->
		<div class="navbar-text pull-right">
			<a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
			<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
			<a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
			<a href="#"><i class="fa fa-trello fa-2x"></i></a>
		</div> <!-- end .navbar-text pull-right -->
	</div> <!-- end .nav-container -->
</div> <!-- end footer -->
